
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #d1d3d4;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: none;
    border: none;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .logo:hover {
    color: #007bff;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #007bff;
    font-weight: bold;
  }

  .nav-item.active a {
    color: #ff6347;
    font-weight: bold;
    border-bottom: 2px solid #ff6347;
  }

  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
  }

  .connect-btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .connect-btn:hover {
    background-color: #333;
    color: #d1d3d4;
  }

  .hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 10px;
    background: #d1d3d4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 90%;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  
    .nav-links.open {
      justify-content: center;
      align-items: center;
    }
  
    .nav-links a {
      margin: 10px 0;
    }
  }
  